<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/other.css">
</head>
<hr>

<body>
    <section class="thirteen columns">
        <h1>Conocimientos </h1>
        <article>

            <p>Ofimatica</p>
            <div class="container_c">
                <div class="skills ofimatica">80%</div>
            </div>

            <p>HTML</p>
            <div class="container_c">
                <div class="skills html">70%</div>
            </div>

            <p>CSS</p>
            <div class="container_c">
                <div class="skills css">55%</div>
            </div>

            <p>JavaScript</p>
            <div class="container_c">
                <div class="skills js">30%</div>
            </div>

            <p>C/C++</p>
            <div class="container_c">
                <div class="skills c">60%</div>
            </div>

            <p>Java</p>
            <div class="container_c">
                <div class="skills java">60%</div>
            </div>

            <p>Python</p>
            <div class="container_c">
                <div class="skills py">55%</div>
            </div>

            <p>SQL</p>
            <div class="container_c">
                <div class="skills sql">55%</div>
            </div>

            <p>Docker</p>
            <div class="container_c">
                <div class="skills dk">50%</div>
            </div>

            <!--
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Ofimática</em>
            <p>
                <p>
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                        class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                        class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i
                        class="fa fa-star-o"></i>
                    &nbsp;&nbsp;<em>C/C++</em>
                    <p>
                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i
                            class="fa fa-star-o"></i>
                        &nbsp;&nbsp;<em>Java</em>
                    </p>
                    <p>
                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i
                            class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i
                            class="fa fa-star-o"></i>
                        &nbsp;&nbsp;<em>Git</em>
                    </p>
                    <p>
                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i
                            class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i
                            class="fa fa-star-o"></i>
                        &nbsp;&nbsp;<em>HTML/CSS3</em> &amp; <em>Javascript</em>
                    </p>
                    <p>
                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i
                            class="fa fa-star-o"></i>
                        &nbsp;&nbsp;<em>Lecto-comprensión de inglés</em>
                    </p>
                    <p>
                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i
                            class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i
                            class="fa fa-star-o"></i>
                        &nbsp;&nbsp;<em>Adobe Muse</em>
                    </p>
            -->
        </article>
    </section>
</body>

</html>