<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/other.css">
</head>

<hr>

<body>
    <section class="thirteen columns">
        <h1>Cualidades</h1>
        <article>
            <header>
                <h1></h1>
            </header>

            <p>Iniciativa</p>
            <div class="container_c">
                <div class="skills init">90%</div>
            </div>

            <p>Trabajo en equipo</p>
            <div class="container_c">
                <div class="skills teq">85%</div>
            </div>

            <p>Comunicación</p>
            <div class="container_c">
                <div class="skills com">75%</div>
            </div>

            <p>Creatividad</p>
            <div class="container_c">
                <div class="skills crea">65%</div>
            </div>

            <p>Compromiso</p>
            <div class="container_c">
                <div class="skills comp">100%</div>
            </div>

            <!--

        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Iniciativa</em>
            <p>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                    class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                    class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i
                    class="fa fa-star-o"></i>
                &nbsp;&nbsp;<em>Trabajo en equipo</em>
            </p>
            <p>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                    class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i
                    class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i
                    class="fa fa-star-o"></i>
                &nbsp;&nbsp;<em>Comunicación</em>
            </p>
            <p>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                    class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i
                    class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i
                    class="fa fa-star-o"></i>
                &nbsp;&nbsp;<em>Creatividad</em>
            </p>
            <p>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                    class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                    class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>

                <span style="font-size: 1.5em; color: yellow;">
                    <i class="fa fa-star"></i>
                </span>


                &nbsp;&nbsp;<em>Compromiso</em>
            </p>
            -->
        </article>
    </section>
</body>

</html>