<!DOCTYPE html>
<html>

<body>
    <section class="thirteen columns">
        <h1>Educación</h1>
        <article>
            <header>
                <h3>Educación Primaria y Secundaria</h3>
                <span>Instituto Nuestra Señora de la Merced |
                    Arroyito - Córdoba, ARG | <time>1994 - 2005</time></span>
            </header>
            <p>
                <em>Titulación: Bachiller Orientado en Humanidades. Especialidad Ciencias Sociales.</em>
            </p>
        </article>
        <article>
            <header>
                <h3>Educación Terciaria</h3>
                <span>Instituto Superior Santo Domingo |
                    Córdoba - Córdoba, ARG | <time>2007 - 2012</time></span>
            </header>
            <p>
                <em>Titulación: Técnico Superior en Informática Administrativa</em>
            </p>
        </article>
        <article>
            <header>
                <h3>Educación Universitaria</h3>
                <span>Universidad Nacional de Córdoba |
                    Córdoba - Córdoba, ARG | <time>2010 - presente</time></span>
            </header>
            <p>
                <em>Titulación: Ingeniero en Computación</em>
            </p>
        </article>
    </section>
</body>

</html>