<section class="thirteen columns">
    <h1>Experiencia Laboral</h1>
    <article>
        <header>
            <h3>Técnico Informático - Hospital Italiano</h3>
            <span>Córdoba - Córdoba, ARG | <time>2018 - Actualidad</time></span>
        </header>
        <p>Empleo de herramienta Help Desk GLPI para la gestión y documentación
            de incidentes.<br>

            Resolución de incidente de manera presencial o bajo asistencia remota.<br>

            Configuración y mantenimiento preventivo de equipos informáticos.<br>

            Administración de direcciones de red bajo herramienta phpIPAM.<br>

            Administración de unidades organizativas, implementación
            de polı́ticas y gestión de usuarios en Active Directory.<br>
            
            Cableado estructurado. </p>
        <hr>
        <h3>Pasantías</h3>
        <span>Arroyito - Córdoba, ARG | <time>2005</time></span>
        </header>
        <p>Pasantías laborales en el Centro de Cómputos de la Planta
            de Fabricación de la Empresa ARCOR en la localidad de
            Arroyito (Cba.), en el marco de formación secundaria. </p>
    </article>
</section>